<div class="shorten header">
	<div class="constrain">
		<h1>Simplify Your Links</h1>
			<form action="/update" method="POST">
			  <div class="form-group">
			    <input type="text" class="form-control" name="originalURL" placeholder="Your original URL here">
			    <button type="submit" class="btn btn-success">Shorten URL</button>
			  </div>
			</form>

		<div class="tagline"></div>
	</div>
</div>

<div class="shorten content constrain">
	<table class="table table-hover">
		<thead class="thead-light">
			<tr>
				<th scope="col">Original URL</th>
				<th scope="col">Short URL</th>
				<th scope="col">All Clicks</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			{{#each urls as |url|}}
			<tr id="{{url.sURL}}">
				<td>
					<a href="{{url.oURLPath}}">{{url.oURL}}</a>
				</td>
				<td id="{{url.qualified}}">
					<a class="qualified" href="{{url.oURLPath}}" value="{{url.sURL}}">{{url.qualified}}</a>
				</td>
				<td class="count">{{url.count}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>