<div class="shorten header">
	<div class="constrain">
		<h1>Simplify Your Links</h1>
		<div class="input-container">
			<form action="/submit" method="POST">
				<input type="text" name="originalURL" placeholder="Your original URL here">
				<button class="">Shorten URL</button>
			</form>
		</div>
		<div class="tagline"></div>
	</div>
</div>

<div class="shorten content constrain">
	<table>
		<thead>
			<tr>
				<th>Original URL</th>
				<th>Short URL</th>
				<th>All Clicks</th>
			</tr>
		</thead>
		<tfoot></tfoot>
		<tbody>
			{{#each results as |result|}}
			<tr>
				<td>{{result.oURL}}</td>
				<td class="sURL" id="{{result.sURL}}">{{result.sURL}}</td>
				<td class="count" id="{{result.sURL}}count">{{result.count}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

<script>
	$('document').ready(() => {

		var socket = io.connect('http://localhost:3000');

		$('.sURL').click((event) => {

			const id = event.target.id;

			socket.emit('increment', id);
		});

		socket.on('update', (id, count) => {



		});


	});

</script>